<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Authorize</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/auth.css" />
    </head>
    <body>
        <nav>
            <!--
                ! FEATURE REQUEST: Implement account username here ASAP
                will be added later, after a better backend authorization system is implemented
            -->
            <header>
                Grant this app access to your
                <!-- (ACCOUNT_NAME) -->
                Nove account
            </header>
        </nav>
        <main>
            <section class="authorize">
                <div class="info">
                    <header>
                        <img src="/data/logo.png" width="48" height="48" alt="Nove logo" />
                        <h1>
                            Authorize <% if(client.isVerified) { %>
                            <div class="mark">
                                <svg width="12" height="12" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M95 21L36.3647 80L6 49.4464" stroke="currentColor" stroke-width="14" />
                                </svg>
                                <span class="tooltiptext">Verified or managed by Nove</span>
                            </div>
                            <% } %> <%= client.name %>
                        </h1>
                        <p>By <%= client.owner %></p>
                    </header>
                </div>
                <div class="notes">
                    <p>
                        Before you grant access read <a href="<%= client.link_privacy_policy %>">privacy policy</a> and <a href="<%= client.link_tos %>">terms of service</a> of
                        this app.
                    </p>

                    <p>This app asks you for the following permissions:</p>
                    <ul>
                        <% for (const _scope of scope) { %>
                        <li><%= { '*': 'Everything', 'account.basic': 'Basic account information', 'account.email': 'Email connected with your account' }[_scope] %></li>
                        <% } %>
                    </ul>
                </div>

                <div class="buttons">
                    <button id="reject">Reject</button>
                    <button id="approve">Approve access</button>
                </div>
            </section>
        </main>

        <script>
            if (!localStorage.getItem('token')) window.location.href = `/v1/users/login?redirectBack=${encodeURIComponent(window.location.href)}`;
            const state = new URLSearchParams(window.location.search).get('state');
            const redirect_uri = new URLSearchParams(window.location.search).get('redirect_uri');

            $('#reject').click(() => {
                // error codes the same as, or close to https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#error-codes-for-authorization-endpoint-errors
                window.location.href = `${redirect_uri}?error=access_denied&state=${encodeURIComponent(state)}`;
            });
            $('#approve').click(() => {
                fetch('/v1/oauth2/authorize', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        Authorization: `Owner ${localStorage.getItem('token')}`,
                    },
                    body: JSON.stringify({
                        client_id: '<%= client.client_id %>',
                        scope: '<%= scope.join(' ') %>',
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        window.location.href = `${redirect_uri}?code=${encodeURIComponent(res.body.code)}&state=${encodeURIComponent(state)}`;
                    });
            });
        </script>
    </body>
</html>
