<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Authorize</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/auth.css" />
    </head>
    <body>
        <main>
            <span id="error"></span>
            <section class="info">
                <header>
                    <strong><%= client.name %></strong>
                    by
                    <strong><%= client.owner %></strong>
                </header>
                <p><%= client.description %></p>
            </section>
            <section class="notes">
                <p>
                    Before you authorize read <a href="<%= client.link_privacy_policy %>">privacy policy</a> and <a href="<%= client.link_tos %>">terms of service</a> of this app.
                </p>

                <% if(client.isVerified) { %>
                <div>This app is verified or managed by Nove</div>
                <% } %>

                <p>This app asks you for the following permissions</p>
                <ul>
                    <% for (const _scope of scope) { %>
                    <li><%= { '*': 'Everything', }[_scope] %></li>
                    <% } %>
                </ul>
            </section>

            <button id="reject">Reject</button>
            <button id="approve">Approve access</button>
        </main>

        <script>
            if (!localStorage.getItem('token')) window.location.href = `/v1/users/login?redirectBack=${encodeURIComponent(window.location.href)}`;
            const state = new URLSearchParams(window.location.search).get('state');
            const redirect_uri = new URLSearchParams(window.location.search).get('redirect_uri');

            $('#reject').click(() => {
                // error codes the same as, or close to https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#error-codes-for-authorization-endpoint-errors
                window.location.href = `${redirect_uri}?error=access_denied&state=${encodeURIComponent(state)}`;
            });
            $('#approve').click(() => {
                console.log('hi?');
                fetch('/v1/oauth2/authorize', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        Authorization: `Owner ${localStorage.getItem('token')}`,
                    },
                    body: JSON.stringify({
                        client_id: '<%= client.client_id %>',
                        scope: '<%= scope.join(' ') %>',
                    }),
                })
                    .then((res) => res.json())
                    .then((res) => {
                        window.location.href = `${redirect_uri}?code=${encodeURIComponent(res.body.code)}&state=${encodeURIComponent(state)}`;
                    });
            });
        </script>
    </body>
</html>
